<?xml version="1.0" encoding="utf-8" ?>
<Configuration>

    <Properties>
    <Property name="logdir">src/main/resources</Property>
    <Property name="layout">%d [%t] %-5level %logger{36} - %msg%n%throwable</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>

        <File name="FileAppender" filename="${logdir}/logs.log">
            <PatternLayout pattern="${layout}"/>
        </File>
    </Appenders>

    <Loggers>

            <Logger name="com.revature.spring.aspects" level="DEBUG">
                <AppenderRef ref="FileAppender"/>
                <AppenderRef ref="ConsoleAppender"/>
            </Logger>

    </Loggers>


</Configuration>